* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.sidebar {
    width: 250px;
    background-color: #0047AB;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    position: fixed;
    transition: transform 0.3s ease;
}

.sidebar h1 {
    font-size: 24px;
    margin-bottom: 40px;
    color: #FFD700;
}

.sidebar a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 8px;
    font-weight: 500;
    transition: background 0.3s ease;
}

.sidebar a:hover,
.sidebar a.active {
    background-color: #005ce6;
}

.sidebar .user {
    margin-top: auto;
    display: flex;
    align-items: center;
    padding: 15px;
    border-top: 1px solid #ffffff33;
    font-size: 14px;
}

.sidebar .user span {
    margin-left: 10px;
}
.fa-solid {
margin-right: 8px;
}

.header {
    padding: 30px 30px 30px 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header h1 {
    font-size: 22px;
}

.header input {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    flex: 1;
    max-width: 250px;
}

/* users table */
.user-table {
    padding-left: 270px;

}

.table-section {
    width: 100%;
    margin-top: 40px;
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    overflow-x: auto;
}

.table-section h3 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px;
    border: 2px solid #ddd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

th,
td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    ;
}

th {
    background-color: #f0f0f0;
    font-weight: 600;
}

.status {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
    color: green;
    background-color: #e0f7ea;
}
.status.inactive {
    color: orange;
    background-color: #fff3cd;
}

.edit-btn {
    color: blue;
    border: none;
    font-size: 17px;
    padding: 20px;
}

.delete-btn {
    color: red;
    border: none;
    font-size: 17px;
}